@font-face {
    font-family: Avenir;
    src: url(../fonts/AvenirLTStd-Book.otf);
    src: url(../fonts/AvenirLTStd-Medium.otf);
    src: url(../fonts/AvenirLTStd-Roman.otf);
  }
  @import '~pretty-checkbox/src/pretty-checkbox.scss';
body{
    font-family: 'Avenir';
    /* background: linear-gradient(to bottom right,#3BB9FF , #E238EC); */
}
.list-container-full {
    background: linear-gradient(to bottom right,#D0D0D0 , #264d00);
      background-repeat: no-repeat;
      min-height:100vh;  
      overflow: hidden;
  }
.list-container-mobile {
    max-width: 420px;
    margin: 0 auto;
    position: relative;
}
.header{
    background-color: #336600;
    padding: 25px 0 15px 0;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 420px;
}
.header i{
    float: left;
    color: white;
    margin-top: -4px;
    margin-left: 15px;
    font-size: 30px;
}
.header a {
    color: white;
    font-size: 15px;
}
.contents{
    margin-top: 80px;
    color: white;
    margin-left:30px;
    margin-right: 30px;
}
.contents-header{
overflow: hidden;
}
hr{
    color: white;
    opacity: 1;
    margin-right: 20px;
}
p{
    margin-right: 10px;
}
.footer {
  padding: 15px 0;
  text-align: center;
  background-color: #E0E0E0;
  position: fixed;
  bottom: 0;
  width: 420px;
  display: flex;
}
.deletebtn{
    float: left;
    width: 150px;
    /* padding: 5px; */
}
button:hover{
    background: #264d00;
    color: #D0D0D0 ; 
}
.save_btns{
    background: transparent;
    border-radius:4px;
    color: #264d00;
    border: 2px solid #264d00;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
}
.control-group{
    margin-top: 100px;
    color: white;
}
.edit{
    display: none;
}
.edit_btns{
    background: transparent;
    border-radius:4px;
    color: #264d00;
    border: 2px solid #264d00;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
}
.savebtn{
    float: right;
    width: 150px;
}
.center{
    margin: 0 auto;
}
@media (max-width: 425px) {
  .header,
  .footer {
    width: 100%;
  }
  .modal-title {
    font-size: 15px;
  }
  p{
 font-size: 15px;
   }
   h4{
       font-size: 
   }
}
