@font-face {
    font-family: Avenir;
    src: url(../fonts/AvenirLTStd-Book.otf);
    src: url(../fonts/AvenirLTStd-Medium.otf);
    src: url(../fonts/AvenirLTStd-Roman.otf);
  }
  @import '~pretty-checkbox/src/pretty-checkbox.scss';
body{
    font-family: 'Avenir';
}
.list-container-full {
  background: linear-gradient(to bottom right,#3BB9FF , #E238EC);
    background-repeat: no-repeat;
    min-height:100vh;
    overflow: hidden;
}
.list-container-mobile {
    max-width: 420px;
    margin: 0 auto;
    position: relative;
}
.header{
    background-color: #3BB9FF;
    padding: 25px 0 15px 0;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 420px;
}
.header a {
    color: white;
    font-size: 15px;
}
.list {
  margin-top: 62px;
  margin-bottom: 60px;
}
.list ul li {
    padding: 20px 0 20px 30px;
    font-size: 20px;
    border-bottom: 1px solid white;
}
.list ul li label {
  margin-bottom: 0;
}
.list ul li span {
  vertical-align: middle;
  margin: auto 0;
}
.list ul li label > a {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  vertical-align: middle;
}
.list ul li label:hover input ~ .box {
  opacity: 0.2;
}
.list [type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.footer {
  padding: 15px 0;
  text-align: center;
  background-color: #E238EC;
  position: fixed;
  bottom: 0;
  width: 420px;
}
.footer a {
  outline: none;
}
.footer a i {
  color: #fff;
  font-size: 36px;
  vertical-align: middle;
}
.list ul li {
  position: relative;
}
.delete-todo-item {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: #E238EC;
  padding: 5px;
  border-radius: 100%;
  display: none;
}
.delete-todo-item a i {
  vertical-align: middle;
  color: #fff;
}
.list ul li:hover .delete-todo-item {
  display: block;
}
.modal {
  background: none;
  box-shadow: none;
}
.modal-title {
  font-size: 20px;
}
.modal-footer button{
  background: #E238EC;
}
#addTodoForm {
  text-align: center;
}
.msg-box {
  height: 15px;
  margin-bottom: 5px;
}
@media (max-width: 425px) {
  .header,
  .footer {
    width: 100%;
  }
  .modal-title {
    font-size: 15px;
  }
}
